p *{
    color: initial;
    }

a:link {
    color: #4D4DFF;
    text-decoration: none;
}

a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: #CF7580;
    text-decoration: none;
}

a:active {
    color: #CF7580;
    text-decoration: none;
}