<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/america3.jpg');">
        <div class="filter"></div>
    </div>
    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">A Warrior for Working Families  </h2>

                        <blockquote class="blockquote">
                            <h5><i>Stephany’s priority is simple: improve on issues that create barriers for Nebraska families to grow and strengthen</i></h5>
                        </blockquote>


                    </div>
                </div>
            </div>
        </div>
        <div class="section text-left" style="text-indent:40px">
            <div class="col-md-6 mr-auto ml-auto">
                <h3 style="text-align:center">Improve Healthcare</h3><br>
                <p>
                    <b>Health issues should not derail the income and progress of Nebraska Families.</b> Currently,<a href="https://www.jhsph.edu/news/news-releases/2019/us-health-care-spending-highest-among-developed-countries.html"> hardworking Nebraskans pay twice as much</a> for healthcare as other developed nations and get worse results. Two-thirds of Americans file bankruptcy because of medical bills. <a href="https://www.theguardian.com/us-news/2019/nov/14/health-insurance-medical-bankruptcy-debt">Most Nebraskans either have insurance that is not suitable to cover costs or have no insurance at all.</a>
                </p>
                <p>
                    Stephany’s real-life experience gives her first-hand knowledge of how a medical emergency can upend a  family and put them into debt. In 2017, she had to take out a personal loan to pay medical bills of her husband, who had a stroke. They had insurance, but it was not enough to keep bills from going into collections.
                </p>
                <p>
                    Health issues should not stifle the growth of Nebraskan families. It is time for a healthcare plan that will support them to build a stronger state.
                </p>
            </div>
        </div>
        <div class="section-red text-left" style="text-indent:40px">
            <div class="col-md-6 mr-auto ml-auto">
                <h3 style="text-align:center">Protect Nebraska’s Economy</h3><br>
                <p>
                    <b>Nebraska has a strong economy that is under attack.</b> Recently, Nebraska has taken a hard hit in its economy due to trade restrictions and flooding. Additionally, Nebraska workers are facing the largest unemployment issue in history with the recent pandemic.
                </p>
                <p>
                    These issues have directly harmed Nebraska families from growing and thriving. Stephany understands that most Nebraska families financial stability comes from income and home-ownership, and not stocks and bond trades. She is dedicated to protecting those sources of income and workers, rather than protecting
                </p>
            </div>
        </div>
        <div class="section text-left" style="text-indent:40px">
            <div class="col-md-6 mr-auto ml-auto">
                <h3 style="text-align:center">Strengthen Education</h3><br>
                <p>
                    <b>Nebraskans understand the value of their education.</b> Nebraska is home to one of the most robust university systems in the nation. However, the cost of that education should not  put hard-working Nebraskans in a financial bind.<a href="http://www.dailynebraskan.com/news/curious-cornhuskers-how-does-unl-s-average-debt-compare-to/article_ae5eb5d6-0a66-11ea-9306-97f12e5b91e9.html"> The average Nebraskan has over $26,000</a> worth of student loan debt. This debt hinders the ability of Nebraskans to pursue job opportunities and grow their families.
                </p>
                <p>
                    Stephany is a proud alumni of the University of Nebraska - Lincoln and Nebraska College of Law. She understands the value of her education, and that the state should work to reduce college costs to provide access to that education and prevent financial harm to those who pursue it.
                </p>
            </div>
        </div>
        <div class="section-light-blue text-left" style="text-indent:40px">
            <div class="col-md-6 mr-auto ml-auto">
                <h3 style="text-align:center">Reform the Justice System</h3><br>
                <p>
                    <b>Nebraska ranks #2 in prison overcrowding.</b> Nebraska has a relatively low crime rate in comparison to states of the same size, but has a massive prison overcrowding issue. State lawmakers seem to believe that the response to this problem is to build more correctional facilities, costing Nebraskans upwards of $40 million. Nebraska can remain safe without wasting tax dollars on building a new prison. As a lawyer, Stephany understands the power of justice system reform programs  that save Nebraskans money and solve the overcrowding problems.
                </p>
            </div>
        </div>
    </div>
 </div>

