<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/endorsement/Logo_wide.jpg');">
        <div class="filter"></div>
    </div>
    <div class="main">

        <div class="section section-dark text-center">
            <div class="container">
                
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Endorsements for Stephany Pleasant</h2>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <a href="https://www.womenwhorunne.org/"><img class="img-rounded" src="./assets/img/endorsement/WWR-Logo.png" alt="..."></a>
                                <div class="card-block">
                                    <div class="author">
                                        <h4 class="card-title">Women Who Run NE</h4>
                                        <p class="card-category">Political Action Committee </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <a href="https://www.plannedparenthood.org/"><img class="img-rounded" src="./assets/img/endorsement/AdvofNE_logo_stacked_RGBpink.png" alt="..."></a>
                                <div class="card-block">
                                    <div class="author">
                                        <h4 class="card-title">Planned Parenthood</h4>
                                        <p class="card-category">Non-profit Organization</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <a href="https://ndpwomenscaucus.org/"><img class="img-rounded" src="./assets/img/endorsement/NDWC Large Logo.jpg" alt="..."></a>
                                <div class="card-block">
                                    <div class="author">
                                        <h4 class="card-title">NDP Women's Cacus</h4>
                                        <p class="card-category">State Federation of the National Federation of Democratic Women</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-avatar">
                                    <a href="http://www.stonewalldemocrats.us/nebraska"><img src="./assets/img/endorsement/button1.png" alt="..."></a>
                                </div>
                                <div class="card-block">
                                    <div class="author">
                                        <h4 class="card-title">Nebraska Stonewall Democrats</h4>
                                        <p class="card-category">LGBT Democratic Group </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-avatar">
                                    <img src="./assets/img/endorsement/bowers.jpg" alt="...">
                                </div>
                                <div class="card-block">
                                    <div class="author">
                                        <h4 class="card-title">James Michael Bowers</h4>
                                        <p class="card-category">Member of the Lincoln City Council</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-avatar">
                                   <img src="./assets/img/endorsement/Patsy Koch Johns.jpg" alt="...">
                                </div>
                                <div class="card-block">
                                    <div class="author">
                                        <h4 class="card-title">Patsy Koch Johns</h4>
                                        <p class="card-category">Member of the Nebraska State Board of Education</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-profile card-plain">
                                <div class="card-avatar">
                                    <a href="https://ne.aflcio.org/"><img src="./assets/img/endorsement/ne_aflcio_circle_800_px.png" alt="..."></a>
                                </div>
                                <div class="card-block">
                                    <div class="author">
                                        <h4 class="card-title">Nebraska AFL - CIO</h4>
                                        <p class="card-category">Local Labor Council </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="card card-profile card-plain">
                                <div class="card-avatar">
                                    <a href="https://www.sierraclub.org/"><img src="./assets/img/endorsement/Sierra Club Endorsement Seal_Color-1.png" alt="..."></a>
                                </div>
                                <div class="card-block">
                                    <div class="author">
                                        <h4 class="card-title">Sierra Club</h4>
                                        <p class="card-category">Enviormental Organization </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
</div>
    </div>
    </div>