<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/background.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/profile2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Meet Stephany<br /></h4>
                    <h6 class="description">A Nebraskan by heart and choice</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-left" style="text-indent:40px">
                    <p>
                        Stephany was born in Memphis, Tennessee, but her family moved to Lincoln when she was five years old. She would return to the south for her high school years, but chose to come back to Lincoln, Nebraska to study at the University of Nebraska-Lincoln in 2008.
                    </p>
                    <p>
                        She graduated with her Bachelors’ degree in Political Science and German and went on to serve in AmeriCorps. Stephany served with College Possible, a program that matched her values; it believed higher education should be available to everyone, despite income. Stephany taught college preparatory classes to first-generation, low-income students at Omaha North High School. As Omaha North’s first Senior Coach, Stephany was able to get 90% of her students admitted to a four-year college.
                    </p>
                    <p>
                        After AmeriCorps, Stephany pursued her dream of becoming a lawyer. While in law school, she served the Pro Bono Committee to improve the public service program within the law school and to provide citizens with limited means to more access within the justice system. She also served as the Vice President of the Multicultural legal society, encouraging diverse first-generation students to go to law school.
                    </p>
                    <p>
                        Since passing the bar, she has served Nebraska a public interest lawyer. Public interest lawyers serve clients with limited means and are paid by nonprofits and governments rather than collecting legal fees from clients. Stephany chose this profession because she believes that every American deserves access to justice, despite their income. Stephany began her law career serving Nebraskans with disabilities at Disability Rights of Nebraska, and has recently begun serving students at the University of Nebraska - Lincoln.
                    </p>
                    <br />
                </div>
            </div>
        </div>
                <div class="section section-dark-blue text-center">
                    <div class="container">
                        <h3>Stephany is running for Nebraska legislature because she has dedicated her career to serving her community, first in AmeriCorps, then as a law student, and now as a public interest lawyer.  Stephany cares for Nebraska and has the resolve and resourcefulness to act on promises made to its constituents. </h3>
                    </div>
                </div>
            </div>
            <br/>
         
        
    
</div>
