<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" id="wrapper">
                <ul>
                    <li>
                        Stephany Pleasant | Paid for by Friends for Stephany Pleasant
                    </li>
                    <li> Email us at <a href="mailto:info@pleasantforne.com" target="_top">info@pleasantforne.com</a></li>
                </ul>
            </div>
            <div class="col-sm-4" id="wrapper">
                <ul >
                    <li>
                        <span>Website Developed by Nick Eurek</span>
                    </li>
                    <li>
                        <span>
                            © {{test | date: 'yyyy'}}, Styling by Creative Tim
                        </span>
                    </li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
