<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" id="wrapper">
                <p>
                    Stephany Pleasant | Paid for by Friends for Stephany Pleasant
                </p>
                <p> Email us at <a href="mailto:pleasantfriendsNE@gmail.com" target="_top">pleasantfriendsNE@gmail.com</a></p>
            </div>
            <div class="col-sm-4" id="wrapper">
                
                        <span>Website Developed by Nick Eurek</span>
                        <span>
                            © {{test | date: 'yyyy'}}, Styling by Creative Tim
                        </span>
                        <a href="https://www.creative-tim.com/license">Licenses</a>
            </div>
        </div>
    </div>
</footer>
