<div class="page-header" data-parallax="true" style="        background-image: url('./assets/img/faces/DSC_3867_crop.jpg');
">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>STEPHANY PLEASANT</h1>
            <h3>FOR NEBRASKA LEGISLATURE, DISTRICT 25 (EAST LINCOLN, WAVERLY, WALTON)</h3>
            <br />
            <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Support Stephany Pleasant for Legislature and help her fight for a stronger Nebraska.  </h2>
                    <h5 class="description">Stephany Pleasant is a dedicated public servant with real - life experiences, who understands the issues affecting working Nebraskans, and has the resolve and resourcefulness to develop policy to improve their lives and build a stronger Nebraska.</h5>
                    <br>
                    <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
                </div>
            </div>
            <br /><br />
                  <div class="row">
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-album-2"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Gallery</h4>
                                  <p class="description">Photos from the campaign trial</p>
                                  <a href="/#/photos" class="btn btn-link btn-danger">See More</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-bulb-63"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Priorities</h4>
                                  <p>See Stephany's action plan if elected.</p>
                                  <a href="/#/priorities" class="btn btn-link btn-danger">See More</a>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-sun-fog-29"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">About Stephany</h4>
                                  <p>Learn more about the candidate.</p>
                                  <a href="/#/about" class="btn btn-link btn-danger">See More</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-email-85"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Contact Info</h4>
                                  <p>How to get in touch with us.</p>
                                  <a href="/#/contact" class="btn btn-link btn-danger">See More</a>
                              </div>
                          </div>
                      </div>
                  </div>

        </div>
    </div>
  

    <div class="section section-dark text-center">
        <div class="container">
            
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">In The News</h2>
                    <h5 class="description">
                        Links to recent articles and appearances by Stephany.
                    </h5>
                    <div class="col-md-8 mr-auto ml-auto">
                        <h3 class="title">Articles</h3>

                        <div class="text-left">
                            <a href="https://journalstar.com/district-25-stephany-pleasant/article_4acc8d74-faf2-500b-a5e5-074bf43e0831.html" target="_blank"> District 25: Stephany Pleasant </a> <br />
                            <a href="https://journalstar.com/legislature/lincoln-legislative-candidate-stephany-pleasant-in-her-own-words/article_bf0d5d9e-cf68-5175-8027-f5d3613fecd2.html" target="_blank"> Lincoln legislative candidate: Stephany Pleasant: In her own words </a> <br />
                            <a href="https://journalstar.com/legislature/legislative-candidate-stephany-pleasant-wants-medicaid-expansion-now/article_8b4eae2c-fbc2-5d3c-bb47-228c9a01b54b.html" target="_blank"> Legislative candidate Stephany Pleasant wants Medicaid expansion now </a><br />
                        </div>

                        <h3 class="title">Letters from Constituents</h3>

                        <div class="text-left">
                            <a href="https://journalstar.com/opinion/letters/letter-10-22-pleasant-is-selfless-servant/article_7ab74e0c-69d2-5b3b-a60d-43ddd022ba8f.html" target="_blank"> Letter, 10/22: Pleasant is selfless servant </a> <br />
                            <a href="https://journalstar.com/opinion/letters/letter-10-20-pleasant-an-independent-voice/article_29a01759-9ece-5cbf-ba69-722880a65fe4.html?fbclid=IwAR1GpKaEI_cDRzhPoVEz-QYwfpXUykZKP0hSLODflYOXfGvFdbcfaRMdK2Y" target="_blank"> Letter, 10/20: Pleasant an independent voice</a> <br />
                            <a href="https://journalstar.com/opinion/letters/letter-10-16-time-to-vote-geist-out-of-office/article_b4ef1660-f6d2-5e39-8570-4f6e44fcb52c.html?fbclid=IwAR1JwowzZkJ-9ZQNSOrbER9_rp0OFM79TIktnI_pQYFSxB8GBsaUm4vd-e8" target="_blank"> Letter, 10/16: Time to vote Geist out of office </a><br />
                            <a href="https://journalstar.com/opinion/letters/letter-5-8-pleasant-will-support-families/article_b723d1cc-890e-5e2f-8a1a-de0d3f82dc08.html?fbclid=IwAR3dJFtnlGEZ4iBVTa380_easnTRw7ywzI6vj-XZKHX07Wl9rFxQZ9JHBfU" target="_blank"> Letter, 5/8: Pleasant will support families</a><br />
                            <a href="https://journalstar.com/opinion/letters/letter-4-24-pleasant-wants-to-remove-hurdles/article_84d125ba-088b-51fd-b6d2-0c51ed4f8a9b.html?fbclid=IwAR3YvK8mRymDvMPIy5GdDocKBKmORTktKoSt0qVpuElRY6nt0QBcDo5rtdc" target="_blank"> Letter, 4/24: Pleasant wants to remove hurdles </a><br />
                        </div>

                        <h3 class="title">Podcasts</h3>

                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="http://midwestmisfits.com/stephany-pleasant/?fbclid=IwAR29_p7DXLzk_z0vGoweOILliIwMx4zaKYGx8HJpx0uWRRNYA9oT1HKCIoY" target="_blank"> <img src="./assets/img/MeetStephany.png" /> </a> <br />
                   
                            </div>
                            <div class="card-block">
                                <div class="author">
                                    <h5 class="card-title">Midwest Misfits Podcast</h5>
                                    <p class="card-category">Meet Stephany Pleasant </p>
                                </div>
                            </div>
                        </div>

                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="https://anchor.fm/questforfire/episodes/Episode-15---Stephany-Pleasant--helping-families-move-forward-egq0km" target="_blank"> <img src="./assets/img/questForFire.jpg" /> </a><p> Quest for Fire Podcast: Stephany Pleasant, Helping Families Move Forward </p><br />
                            </div>
                            <div class="card-block">
                                <div class="author">
                                    <h5 class="card-title">Quest for Fire Podcast</h5>
                                    <p class="card-category">Stephany Pleasant, Helping Families Move Forward </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>


    </div>
        </div>
       
                </div>