<div class="page-header" data-parallax="true" style="        background-image: url('./assets/img/faces/DSC_3867_crop.jpg');
">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>STEPHANY PLEASANT</h1>
            <h3>FOR NEBRASKA LEGISLATURE, DISTRICT 25 (EAST LINCOLN, WAVERLY, WALTON)</h3>
            <br />
            <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Support Stephany Pleasant for Legislature and help her fight for a stronger Nebraska.  </h2>
                    <h5 class="description">Stephany Pleasant is a dedicated public servant with real - life experiences, who understands the issues affecting working Nebraskans, and has the resolve and resourcefulness to develop policy to improve their lives and build a stronger Nebraska.</h5>
                    <br>
                    <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
                </div>
            </div>
            <br /><br />
                  <div class="row">
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-album-2"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Gallery</h4>
                                  <p class="description">Photos from the campaign trial</p>
                                  <a href="#pkp" class="btn btn-link btn-danger">Coming Soon</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-bulb-63"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Priorities</h4>
                                  <p>See Stephany's action plan if elected.</p>
                                  <a href="/#/priorities" class="btn btn-link btn-danger">See More</a>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-sun-fog-29"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">About Stephany</h4>
                                  <p>Learn more about the candidate.</p>
                                  <a href="/#/about" class="btn btn-link btn-danger">See More</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="info">
                              <div class="icon icon-danger">
                                  <i class="nc-icon nc-chart-bar-32"></i>
                              </div>
                              <div class="description">
                                  <h4 class="info-title">Contact Info</h4>
                                  <p>How to get in touch with us.</p>
                                  <a href="/#/contact" class="btn btn-link btn-danger">See More</a>
                              </div>
                          </div>
                      </div>
                  </div>

        </div>
    </div>
  
<!--
    <div class="section section-dark text-center">
        <div class="container">
            
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">More to Come</h2>
                    <h5 class="description">
                        This website is currently under construction. Look for more content on the candidate in the coming months.
                    </h5>
                    <!-- <div class="card card-profile card-plain">
            <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
            </div>
            <div class="card-block">
                <a href="#paper-kit">
                    <div class="author">
                        <h4 class="card-title">Henry Ford</h4>
                        <h6 class="card-category">Product Manager</h6>
                    </div>
                </a>
                <p class="card-description text-center">
                Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                </p>
            </div>
            <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-profile card-plain">
            <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
            </div>
            <div class="card-block">
                <a href="#paper-kit">
                    <div class="author">
                        <h4 class="card-title">Sophie West</h4>
                        <h6 class="card-category">Designer</h6>
                    </div>
                </a>
                <p class="card-description text-center">
                A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                </p>
            </div>
            <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-profile card-plain">
            <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
            </div>
            <div class="card-block">
                <a href="#paper-kit">
                    <div class="author">
                        <h4 class="card-title">Robert Orben</h4>
                        <h6 class="card-category">Developer</h6>
                    </div>
                </a>
                <p class="card-description text-center">
                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                </p>
            </div>
            <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div> 
                </div>
        </div>
    </div>

    
</div>
    -->
</div>